<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
    <% include partials/scripts.ejs %>
    <!-- Document Title
        ============================================= -->
    <title>Psajt - <%= title %></title>
</head>
<body class="page-dark">
<div class="preloader">
    <div class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</div><!-- Document Wrapper
	============================================= -->
<div id="wrapper" class="wrapper clearfix">
    <% include partials/header.ejs %>

    <!-- Shop #4
    ============================================= -->
    <section id="shop" class="shop shop-3 bg-white">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <div class="row">
                        <% if(data) { %>
                        <% data.forEach(function (item) { %>
                        <div class="col-xs-12 col-sm-6 col-md-4 product-item">
                            <div class="product--img">
                                <img src="/images/items/<%= item.image %>" alt="Product"/>
                                <div class="product--hover">
                                    <div class="product--action">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                                <!-- .product-overlay end -->
                            </div>
                            <!-- .product-img end -->
                            <div class="product--content">
                                <div class="product--title">
                                    <h3><a href="/proizvodi/<%= item._id %>"><%= item.name %>></a></h3>
                                </div>
                                <!-- .product-title end -->
                                <div class="product--price">
                                    <span><%= item.price %> RSD</span>
                                </div>
                                <!-- .product-price end -->
                            </div>
                            <!-- .product-bio end -->
                        </div>
                        <% })} %>


                    </div>
                    <!-- .row end -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12  col-md-12 clearfix  text--center">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li>
                                    <a href="#" aria-label="Prev">
                                        <span aria-hidden="true"><i class="fa fa-angle-left"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true"><i class="fa fa-angle-right"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- .col-md-12 end -->
                    </div><!-- .row end -->
                </div>
                <!-- .col-md-9 end -->
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <!-- Search
    ============================================= -->
                    <div class="widget widget-search">
                        <div class="widget--content">
                            <form class="form-search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type and hit enter ...">
                                    <span class="input-group-btn">
					<button class="btn" type="button"><i class="fa fa-search"></i></button>
				</span>
                                </div>
                                <!-- /input-group -->
                            </form>
                        </div>
                    </div> <!-- .widget-search end -->

                    <!-- Categories
                    ============================================= -->
                    <div class="widget widget-categories">
                        <div class="widget--title">
                            <h5>categories</h5>
                        </div>
                        <div class="widget--content">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Accessories</a>
                                </li>
                                <li>
                                    <a href="#">Essentials</a>
                                </li>
                                <li>
                                    <a href="#">Headphones</a>
                                </li>
                                <li>
                                    <a href="#">Men</a>
                                </li>
                                <li>
                                    <a href="#">Women</a>
                                </li>
                                <li>
                                    <a href="#">Shoes</a>
                                </li>
                            </ul>
                        </div>
                    </div> <!-- .widget-categories end -->
                    <!-- Recent Products
                    ============================================= -->
                    <div class="widget widget-recent-products">
                        <div class="widget--title">
                            <h5>Best Sellers</h5>
                        </div>
                        <div class="widget--content">
                            <!-- Product #1 -->
                            <div class="product clearfix">
                                <img src="assets/images/shop/thumb/3.jpg" alt="product"/>
                                <div class="product-desc">
                                    <div class="product-title">
                                        <a href="#">Red Tape Lace Up Shoes In Tan Leather</a>
                                    </div>
                                    <div class="product-meta">
                                        <span>$4138.99</span>
                                    </div>
                                </div>
                            </div>
                            <!-- .recent-product end -->

                            <!-- Product #2 -->
                            <div class="product clearfix">
                                <img src="assets/images/shop/thumb/4.jpg" alt="product"/>
                                <div class="product-desc">
                                    <div class="product-title">
                                        <a href="#">Brave Soul Crew Neck Military Sweater</a>
                                    </div>
                                    <div class="product-meta">
                                        <span>$23.99</span>
                                    </div>
                                </div>
                            </div>
                            <!-- .recent-product end -->
                        </div>

                    </div> <!-- .widget-recent end -->

                    <!-- Filter
                    ============================================= -->
                    <div class="widget widget-filter">
                        <div class="widget--title">
                            <h5>Filter By Price</h5>
                        </div>
                        <div class="widget--content">
                            <div id="slider-range"></div>
                            <p>
                                <label for="amount">Price: </label>
                                <input type="text" id="amount" readonly>
                            </p>
                            <a class="btn btn--secondary btn--bordered btn--rounded" href="#">Filter Now</a>
                        </div>
                    </div><!-- .widget-filter end -->

                    <!-- Tag Clouds
                    ============================================= -->
                    <div class="widget widget-tags">
                        <div class="widget--title">
                            <h5>tag clouds</h5>
                        </div>
                        <div class="widget--content">
                            <a href="#">responsive</a>
                            <a href="#">modern</a>
                            <a href="#">corporate</a>
                            <a href="#">business</a>
                            <a href="#">fresh</a>
                            <a href="#">awesome</a>
                            <a href="#">business</a>
                            <a href="#">fresh</a>
                            <a href="#">corporate</a>
                        </div>
                    </div> <!-- .widget-tags end -->			</div>
                <!-- .col-md-3 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </section> <!-- #shop end -->

    <div class="clearfix mb-150"></div>


    <!-- Footer #1
    ============================================= -->
    <% include partials/footer.ejs %>
</div><!-- #wrapper end -->
<div id="gotoTop" class="fa fa-angle-up"></div>
<!-- Footer Scripts
============================================= -->
<script src="/assets/js/jquery-2.2.4.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/functions.js"></script>
<script src="/js/functions.js"></script>
<!-- RS5.0 Core JS Files -->
<script src="/assets/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script src="/assets/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<!-- RS Confi/gration JS Files -->
<script src="/assets/js/rsconfig.js"></script>
</body>
</html>