<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Psajt Admin panel">
    <meta name="keywords" content="admin,dashboard">
    <meta name="author" content="psajt">
    <!-- The above 6 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Psajt Admin</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plugins/font-awesome/css/all.min.css" rel="stylesheet">
    <link href="/plugins/DataTables/datatables.min.css" rel="stylesheet">

    <link href="/css/dark_theme.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="/css/connect.min.css" rel="stylesheet">
    <link href="/css/admin3.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

</head>
<body>
<div class='loader'>
    <div class='spinner-grow text-primary' role='status'>
        <span class='sr-only'>Loading...</span>
    </div>
</div>
<div class="connect-container align-content-stretch d-flex flex-wrap">
    <% include ../partials/sidebar.ejs %>
    <div class="page-container">
        <% include ../partials/adminheader.ejs %>
        <div class="page-content">
            <div class="page-info">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Novosti</li>
                    </ol>
                </nav>
            </div>
            <div class="main-wrapper">
                <div class="row">
                    <div class="col-lg">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Lista novosti</h5>
                                <div class="col-lg-3">
                                    <div class="todo-new-task">
                                        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#newTask">Kreiraj novost</button>
                                        <div class="modal fade" id="newTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 50%">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">New Project</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form ref='uploadForm'
                                                              id='uploadForm'
                                                              action='/admin/blog/create'
                                                              method='post'
                                                              encType="multipart/form-data">
                                                            <div class="col-md-6">
                                                                <div class="form-group organic-form xs-radius">
                                                                    <label>Naslov: </label>
                                                                    <input class="form-control" name="title" id="title" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group organic-form xs-radius">
                                                                    <label>Category: </label>
                                                                    <select  class="form-control" name="category" id="category">
                                                                        <option value="Kultura">Kultura</option>
                                                                        <option value="Nauka">Nauka</option>
                                                                        <option value="Spiritualnost">Spiritualnost</option>
                                                                        <option value="Ekologija">Ekologija</option>
                                                                        <option value="Iskustva">Iskustva</option>
                                                                        <option value="Politika">Politika</option>
                                                                        <option value="Ostalo">Ostalo</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group organic-form xs-radius">
                                                                    <label>Opis: </label>
                                                                    <textarea class="form-control" id="description" name="description" ></textarea>
                                                                    <script>
                                                                        CKEDITOR.replace( 'description' );
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group organic-form xs-radius">
                                                                    <label>Sadržaj: </label>
                                                                    <textarea class="form-control"  name="content_text" id="content_text"  rows="3"></textarea>
                                                                    <script>
                                                                        CKEDITOR.replace( 'content_text' );
                                                                    </script>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Slika: </label>
                                                                <div class="form-group organic-form xs-radius">
                                                                    <input type="file" name="img" id="img">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group organic-form xs-radius">
                                                                    <label>Tags: </label>
                                                                    <input class="form-control" name="tags" id="tags" type="text">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="form-group organic-form xs-radius">
                                                                    <button class="btn btn-primary" type="submit" name="Submit">Dodaj</button>
                                                                </div>
                                                            </div>
                                                        </form>

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p> </p>
                                <table id="zero-conf" class="display" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>createdOn</th>
                                        <th>hits</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% if(data){ %>
                                    <% data.forEach(function (blog) {%>
                                    <tr>
                                        <td><a href="/admin/blog/<%= blog._id%>"><%= blog.title %></a></td>
                                        <td><%- blog.description %></td>
                                        <td><%= blog.category %></td>
                                        <td><%= moment(blog.createdOn).format("DD/MM/YYYY");%></td>
                                        <td><%= blog.hits %></td>
                                    </tr>
                                    <% })} %>



                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>createdOn</th>
                                        <th>hits</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-footer">
            <div class="row">
                <div class="col-md-12">
                    <span class="footer-text">2020 © Psajt ORG</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mailbox-compose-overlay"></div>
<div class="mailbox-item-overlay"></div>

<!-- Javascripts -->
<script src="/plugins/jquery/jquery-3.4.1.min.js"></script>
<script src="/plugins/bootstrap/popper.min.js"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/js/connect.min.js"></script>
<script src="/js/pages/todo.js"></script>

<script src="/plugins/DataTables/datatables.min.js"></script>
<script src="/js/pages/datatables.js"></script>

<script >
    $(document).ready(function() {
        $("#input-5").fileinput({showCaption: false});

        $("#input-6").fileinput({
            showUpload: false,
            maxFileCount: 10,
            mainClass: "input-group-lg",
            showCaption: true
        });

        $("#input-8").fileinput({
            mainClass: "input-group-md",
            showUpload: true,
            previewFileType: "image",
            browseClass: "btn btn-success",
            browseLabel: "Pick Image",
            browseIcon: "<i class=\"icon-picture\"></i> ",
            removeClass: "btn btn-danger",
            removeLabel: "Delete",
            removeIcon: "<i class=\"icon-trash\"></i> ",
            uploadClass: "btn btn-info",
            uploadLabel: "Upload",
            uploadIcon: "<i class=\"icon-upload\"></i> "
        });

        $("#input-9").fileinput({
            previewFileType: "text",
            allowedFileExtensions: ["txt", "md", "ini", "text"],
            previewClass: "bg-warning",
            browseClass: "btn btn-primary",
            removeClass: "btn btn-secondary",
            uploadClass: "btn btn-secondary",
        });

        $("#input-10").fileinput({
            showUpload: false,
            layoutTemplates: {
                main1: "{preview}\n" +
                "<div class=\'input-group {class}\'>\n" +
                "   <div class=\'input-group-append\'>\n" +
                "       {browse}\n" +
                "       {upload}\n" +
                "       {remove}\n" +
                "   </div>\n" +
                "   {caption}\n" +
                "</div>"
            }
        });

        $("#input-11").fileinput({
            maxFileCount: 10,
            allowedFileTypes: ["image", "video"]
        });

        $("#input-12").fileinput({
            showPreview: false,
            allowedFileExtensions: ["zip", "rar", "gz", "tgz"],
            elErrorContainer: "#errorBlock"
        });
    });

</script>
</body>
</html>