<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../css/main.css" />
</head>
<body class="animsition">
<div class="shop-layout-3" id="page">
    <% include ../partials/header.ejs %>

    <section >
        <div class="container" style="width: 100%">
            <div class="row">
                <% include ../partials/adminheader.ejs %>
                <div class="col-md-10">
                    <div class="tab-content tab-content-style-1">
                        <div class="active" id="users" >
                            <table class="shop_attributes table table-striped table-bordered">
                                <tbody>
                                <tr style='text-align:left; background-color:#CCC'>
                                    <th class="hidden-xs">Korisničko ime</th>
                                    <th>Ime i prezime</th>
                                    <th class="hidden-xs">Email</th>
                                    <th>Role</th>
                                    <th>Detalji</th>
                                </tr>

                                <% if (data) { %>
                                <% data.forEach(function(user){ %>
                                <tr>
                                    <td class="hidden-xs"><%= user.username %></td>
                                    <td><%= user.firstname %> <%= user.lastname %></td>
                                    <td class="hidden-xs"><%= user.email %></td>
                                    <td><%= user.role %> </td>
                                    <td>
                                        <div style="float:left">
                                            <a href='/admin/userlist/<%= user._id %>'>Details</a> &nbsp;

                                        </div>
                                    </td>
                                </tr>
                                <% }) %>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<% include ../partials/footer.ejs %>
<script src="/js/library/jquery.min.js"></script>
<script src="/js/library/bootstrap.min.js"></script>
<script src="/js/function-check-viewport.js"></script>
<script src="/js/library/slick.min.js"></script>
<script src="/js/library/select2.full.min.js"></script>
<script src="/js/library/imagesloaded.pkgd.min.js"></script>
<script src="/js/library/jquery.mmenu.all.min.js"></script>
<script src="/js/library/rellax.min.js"></script>
<script src="/js/library/isotope.pkgd.min.js"></script>
<script src="/js/library/bootstrap-notify.min.js"></script>
<script src="/js/library/bootstrap-slider.js"></script>
<script src="/js/library/in-view.min.js"></script>
<script src="/js/library/countUp.js"></script>
<script src="/js/library/animsition.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/config-mm-menu.js"></script>
<script src="/js/config-set-bg-blog-thumb.js"></script>
<script src="/js/config-accrodion.js">


</script>
</body>
</html>



